header {
    width: 100%;
    display: inline;
}

a {
    color: #101010;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}

.cta a {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: .8rem 2rem;
    border-radius: 10px;
    background-color: #1F66FF;
    transition: all .2s ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    user-select: none;
}

.cta:hover a {
    cursor: pointer;
    background-color: #1555e1;
}

.cta.disabled a {
    background-color: rgb(210, 210, 210);
    cursor: default;
    user-select: none;
}

.nav-list {
    display: flex;
    gap: 1.4rem;
}

.not-underline-link {
    text-decoration: none;
    color: #101010;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    user-select: none;
}

.not-underline-link:hover, .underline-btn:hover a {
    color: #1F66FF;
    cursor: pointer;
}

.underline-btn a{
    text-decoration: underline;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    user-select: none;
}

.jumbotron {
    max-width: 1500px;
    width: 100%;
    height: 90vh;
    min-height: 800px;
    margin: auto;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3.75rem;
}

.jumbotron img{
    width: 50%;
    user-select: none;
}

.jumbotron .left img {
    user-select: none;
}

.jumbotron .right {
    display: flex;
    height: 100%;
    max-height: 600px;
    flex-direction: column;
    justify-content: space-between;
}

.jumbotron .right .text-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.jumbotron .right .text-section h1 {
    font-size: 82px;
}

.jumbotron .right .text-section p {
    padding-right: 2rem;
}

.button-section {
    display: flex;
    align-items: center;
    gap: 2rem;
}

main {
    position: relative;
    width: 100%;
    align-items: center;
    margin-top: 2rem;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

article, section {
    width: 100%;
    max-width: 1450px;
    padding: 0 1.5rem;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.benefit {
    gap: 1.5rem;
    justify-content: center;
}

.specialContainer {
    justify-content: center;
    color: white;
    padding: 2rem 3.25rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    gap: 1rem 0;
    transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
}

.specialContainer.col-2 {
    width: 49%;
}

.specialContainer.col-3 {
    width: 32%;
}

.header2 {
    margin-bottom: .75em;
}

.specialContainer .title {
    gap: 0 1rem;
    align-items: center;
}

article:not(#keunggulan), section {
    margin-top: 3rem;
}

article:not(#keunggulan) .desc {
    margin-bottom: 2rem;
}

#syarat .left ul li, #syarat .right ul li {
    margin-left: 1rem;
    margin-bottom: .75rem;
}

li::marker {
    color: #1F66FF;
    width: 100px;
}

footer {
    position: relative;
    width: 100%;
    background-color: #1F66FF;
    padding: 2.25rem 0;
    justify-content: center;
    overflow: hidden;
    z-index: 100;
    margin-top: 40px;
}

footer .footer {
    z-index: 99;
    width: 100%;
    max-width: 1450px;
    padding: 0 1rem;
    justify-content: space-between;
}

footer a, footer b, footer p {
    color: white;
    text-decoration: none;
}

footer .flex-col {
    gap: .5em 0;
}

footer .about {
    max-width: 300px;
    gap: 1rem 0;
}

footer .cell {
    margin-bottom: 1rem;
}

.sosmedList {
    gap: 0 12px;
}

.contact a {
    gap: 0 12px;
}

#bubble1, #bubble2 {
    position: absolute;
}

#bubble1 {
    left: 0;
    top: -80px;
    z-index: 0;
}

#bubble2 {
    right: 0;
    bottom: 0;
    z-index: 0;
}

section {
    align-items: center;
}

section .formContainer {
    width: 100%;
    justify-content: space-around;
}

.formContainer .detailForm, .formContainer .userForm {
    width: 42%;
}

.formContainer .detailForm .form, .formContainer .userForm .form {
    gap: 1rem 0;
    width: 100%;
}

.form .flex {
    width: 100%;
    gap: 0 1.5rem;
}

label.flex span {
    margin-bottom: .75rem;
}

label select {
    width: 100%;
}

input[type="file"] {
    visibility: hidden;
    display: none;
    position: absolute;
}

label.file {
    width: 100%;
    height: 4rem;
    background-color: black;
}

select, input[type="text"], input[type="number"] {
    height: 4rem;
    padding: 0 1.25rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #101010;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

select {
    padding-right: 3rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    appearance: none;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="%23101010" d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 1.25rem center;
    background-size: .9rem;
    user-select: none;
}

select:disabled {
    background-color: #FAFAFA;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="%23b0b0b0" d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg>');
}

select:disabled, input[type="text"]:disabled, input[type="number"]:disabled {
    border: 1px solid #aeaeae;
}

.form .button-section {
    margin: 1rem 0;
    margin-bottom: 2rem;
}

label .filePlace {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    border: 1px solid #1F66FF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.filePlace span {
    margin-bottom: unset !important;
    color: #1F66FF;
}

label .filePlace.true {
    cursor: default;
    border: 1px solid #aeaeae;
    background-color: #FAFAFA;
}

label .filePlace.true span {
    color: #aeaeae;
}